#scene{
    background: linear-gradient(#00112b, #00040a);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#space_ship_object{
    width: 150px;
    height: auto;
    position: absolute;
}
#metheor{
    width: 60px;/*rand value*/
    height: 60px;/*rand value*/
    background: #a6a6a6;
    border-radius: 50px;
    position: absolute;
}

