#scene{

    width: 150px;
    height: 150px;
    position: absolute;
    top: 35%;
    left: 45%;
}


.chevron-top{
    display: block;
    stroke: #000;
    filter: drop-shadow(  0px 0px 100px rgba(0, 0, 0, 1));
}